<div class="login-container">
  <h2>登錄</h2>
    <div >
      <label for="username">用戶名:</label>
      <input type="text" id="username"  required [(ngModel)]="userInfo.userName" #name="ngModel">
      <div *ngIf="name.touched&&!name.valid" class="error">
        用戶名是必填
      </div>
    </div>
    <div class="mb-50">
      <label for="password">密碼:</label>
      <input type="password" id="password"  required [(ngModel)]="userInfo.password" #pass="ngModel">
      <div *ngIf="pass.touched&&!pass.valid" class="error">
        密碼是必填
      </div>
    </div>
    <button  (click)="onSubmit()">登錄</button>
</div>
