<app-shopbanner1></app-shopbanner1>
<div class="order-container">
    <!-- 會員相關資訊區塊 -->
    <div class="member-info-block">
      <h3>會員資訊</h3>
      <p><strong>會員名稱：</strong>{{ orderDetails.MemberName  }}</p>
      <p><strong>手機：</strong>{{ orderDetails.MemberPhone }}</p>
      <p><strong>通訊地址：</strong>{{ orderDetails.Address }}</p>
    </div>

    <!-- 商品內容區塊 -->
    <div class="product-info-block">
      <h3>商品資訊</h3>
      <ul>
      <li *ngFor="let product of orderDetails.AllProducts">
        商品名稱: {{ product.MallProductName }} - 購買數量: {{ product.MallProductQuantity }}
      </li>
      </ul>
    </div>

    <!-- 購買資訊區塊 -->
    <div class="purchase-info-block">
      <h3>購買資訊</h3>
      <p><strong>購買日期：</strong>{{ orderDetails.PurchaseTime | date: 'yyyy-MM-dd HH:mm'  }}</p>
      <p><strong>付款狀態：</strong>{{ orderDetails.ExchangeStatus }}</p>
    </div>
  </div>
