.container {
  width: 400px; /* 固定寬度 */
  height: 500px; /* 固定高度，確保外框一致 */
  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px; /* 或者其他值 */
  margin-right: 20px;
}

.image-section {
  text-align: center;
  margin-bottom: 15px;
}
.image-section img {
  width: 100%; /* 图片宽度适应容器 */
  height: 200px; /* 固定图片高度 */
  object-fit: cover; /* 确保图片比例适应 */
}
.title-section h3 {
  font-size: 18px;
  margin-bottom: 5px;
  color: #333;
}
.description {
  font-size: 14px;
  color: #666;
  margin-bottom: 10px;
}
.tags-section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.tag {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 12px;
  color: white;
  font-size: 12px;
}
.blue {
  background-color: #64c7e0;
}
.orange {
  background-color: #ffa500;
}
.green {
  background-color: #32cd32;
}
.date-section {
  font-size: 14px;
  color: #555;
  margin-bottom: 10px;
  text-align: left;
}
.price-section {
  text-align: right;
  font-size: 24px;
  color: red;
}
/* 讓整個 item 都可以點擊 */
a {
  text-decoration: none;
  color: inherit;
  display: block;
}


