.mt-50 {
  margin: 50px 0 0 0;
}

.w-100 {
  width: 100%
}

img {
  width: 300px;
  height:300px;
}

.w-80 {
  width: 100%
}

.ma {
  margin: 0 auto
}
.price
{
  display: inline-block;
  white-space:nowrap;
  overflow:hidden;
  text-overflow: ellipsis;
  max-width: 10ch;
}
a{
  text-decoration: none !important ;
}
