<!-- <a routerLink="article">前往文章</a>&nbsp;
<a routerLink="articleoverview">前往articleoverview</a>&nbsp; -->
<!-- <a routerLink="homepage">前往homepage</a>&nbsp; -->

<div class="layout">
  <app-header></app-header>
  <div class="content mt-100 mb-100">
    <router-outlet></router-outlet>
  </div>
  <app-footer></app-footer>
</div>

<!-- /End Preloader -->
<!-- Start Header Area -->

<!-- End Header Area -->
<!-- ----庭瑋的nar--- -->
<!-- <app-banner></app-banner> -->
<!-- ----庭瑋的nar--- -->

<!-- 將內容放在共同框內 -->

<!-- End Newsletter Area -->
<!-- Start Footer Area -->

<!--/ End Footer Area -->
<!-- ========================= scroll-top ========================= -->
<!-- <a href="#" class="scroll-top btn-hover">
    <i class="lni lni-chevron-up"></i>
  </a> -->
