<!-- <a routerLink="article">前往文章</a>&nbsp;
<a routerLink="articleoverview">前往articleoverview</a>&nbsp; -->
<!-- <a routerLink="homepage">前往homepage</a>&nbsp; -->




  <!-- /End Preloader -->
  <!-- Start Header Area -->
<app-header></app-header>
  <!-- End Header Area -->
<!-- ----庭瑋的nar--- -->
<app-banner></app-banner>
<!-- ----庭瑋的nar--- -->

  <!-- 將內容放在共同框內 -->

<router-outlet></router-outlet>
<!-- <app-traveldetailmanage ></app-traveldetailmanage> -->
  <!-- End Newsletter Area -->
  <!-- Start Footer Area -->
<app-footer></app-footer>
  <!--/ End Footer Area -->
  <!-- ========================= scroll-top ========================= -->
  <!-- <a href="#" class="scroll-top btn-hover">
    <i class="lni lni-chevron-up"></i>
  </a> -->
