<div class="container">

  <div *ngFor="let article of articlesListData; let idx = index">
    <div class="">
    <div class="article-list-container">
    <div class="listTitle">清單：{{ article.ArticleListName }}
      <span class="article-list-put" style="float: right;">添加</span>
      <span class="article-list-put" style="float: right;">更改名稱</span>
    </div>
  </div>
  </div>
<hr>
    <div class="article-list-content">
      <button class="nav-arrow left-arrow">
        <!-- <i class="fa fa-chevron-left"></i> -->
      </button>
      <div class="articles" *ngFor="let item of article.PartialArticleOverviews">
        <div class="article">
          <div class="article-image">
            <img
              [src]="
                'data:image/jpeg;base64,' +
                item.Image
              "
              alt="Article Image"
            />
          </div>
          <div class="article-info">
            <p class="article-title">{{ item.ArticleName}}</p>
            <p>作者：{{ article.MemberName }}</p>
            <p>更新日期：{{ item.UpdateTime| date: 'MM-dd' }}</p>
          </div>
          </div>
        </div>
      </div>
</div>

