<section class="product-gallery herb-items padding-large">
  <div class="container">
    <div class="row">
      <div class="col-md-3 margin-small">
        <div class="product-list">
          <div class="product-item">
            <div class="image-holder">
              <img
                src="assets/images/flower.png"
                alt="plant"
                class="uniform-size"
              />
              <i class="icon icon-like-button"></i>
            </div>
            <div class="product-inner">
              <a class="add-to-cart" href="cart" target="_self">
                <span class="cart-text">加入購物車</span>
                <i class="icon icon-arrow-right"></i>
              </a>
            </div>
          </div>
          <div class="product-content">
            <h3 class="product-title">
              <a href="single-product.html">美麗小花_讓您每日心情美麗</a>
            </h3>
            <div class="product-price">$ 23.00</div>
          </div>
        </div>
      </div>
      
      <div class="col-md-3 margin-small">
        <div class="product-list">
          <div class="product-item">
            <div class="image-holder">
              <img
                src="assets/images/cactus2.png"
                alt="plant"
                class="uniform-size"
              />
              <i class="icon icon-like-button"></i>
            </div>
            <div class="product-inner">
              <a class="add-to-cart" href="cart" target="_self">
                <span class="cart-text">加入購物車</span>
                <i class="icon icon-arrow-right"></i>
              </a>
            </div>
          </div>
          <div class="product-content">
            <h3 class="product-title">
              <a href="single-product.html">帥氣仙人掌_讓您外表英氣逼人</a>
            </h3>
            <div class="product-price">$ 23.00</div>
          </div>
        </div>
      </div>
      <div class="col-md-3 margin-small">
        <div class="product-list">
          <div class="product-item">
            <div class="image-holder">
              <img
                src="assets/images/racecar2.png"
                alt="plant"
                class="uniform-size"
              />
              <i class="icon icon-like-button"></i>
            </div>
            <div class="product-inner">
              <a class="add-to-cart" href="cart" target="_self">
                <span class="cart-text">加入購物車</span>
                <i class="icon icon-arrow-right"></i>
              </a>
            </div>
          </div>
          <div class="product-content">
            <h3 class="product-title">
              <a href="single-product.html">酷炫賽車_讓您在外走路都有風</a>
            </h3>
            <div class="product-price">$ 23.00</div>
          </div>
        </div>
      </div>
      <div class="col-md-3 margin-small">
        <div class="product-list">
          <div class="product-item">
            <div class="image-holder">
              <img
                src="assets/images/whiteheels.png"
                alt="plant"
                class="uniform-size"
              />
              <i class="icon icon-like-button"></i>
            </div>
            <div class="product-inner">
              <a class="add-to-cart" href="cart" target="_self">
                <span class="cart-text">加入購物車</span>
                <i class="icon icon-arrow-right"></i>
              </a>
            </div>
          </div>
          <div class="product-content">
            <h3 class="product-title">
              <a href="single-product.html">優雅白高跟_讓您成為閃耀的星</a>
            </h3>
            <div class="product-price">$ 23.00</div>
          </div>
        </div>
      </div>
      <div class="col-md-3 margin-small">
        <div class="product-list">
          <div class="product-item">
            <div class="image-holder">
              <img
                src="assets/images/rocket.png"
                alt="plant"
                class="uniform-size"
              />
              <i class="icon icon-like-button"></i>
            </div>
            <div class="product-inner">
              <a class="add-to-cart" href="cart" target="_self">
                <span class="cart-text">加入購物車</span>
                <i class="icon icon-arrow-right"></i>
              </a>
            </div>
          </div>
          <div class="product-content">
            <h3 class="product-title">
              <a href="single-product.html">霸氣火箭_您是所有人的焦點</a>
            </h3>
            <div class="product-price">$ 23.00</div>
          </div>
        </div>
      </div>
      <div class="col-md-3 margin-small">
        <div class="product-list">
          <div class="product-item">
            <div class="image-holder">
              <img
                src="assets/images/perfume.png"
                alt="plant"
                class="uniform-size"
              />
              <i class="icon icon-like-button"></i>
            </div>
            <div class="product-inner">
              <a class="add-to-cart" href="cart" target="_self">
                <span class="cart-text">加入購物車</span>
                <i class="icon icon-arrow-right"></i>
              </a>
            </div>
          </div>
          <div class="product-content">
            <h3 class="product-title">
              <a href="single-product.html">清新香氛_為生活增添一抹甜美</a>
            </h3>
            <div class="product-price">$ 23.00</div>
          </div>
        </div>
      </div>
      <div class="col-md-3 margin-small">
        <div class="product-list">
          <div class="product-item">
            <div class="image-holder">
              <img
                src="assets/images/sun.png"
                alt="plant"
                class="uniform-size"
              />
              <i class="icon icon-like-button"></i>
            </div>
            <div class="product-inner">
              <a class="add-to-cart" href="cart" target="_self">
                <span class="cart-text">加入購物車</span>
                <i class="icon icon-arrow-right"></i>
              </a>
            </div>
          </div>
          <div class="product-content">
            <h3 class="product-title">
              <a href="single-product.html">元氣朝陽_讓每一天都充滿動力</a>
            </h3>
            <div class="product-price">$ 23.00</div>
          </div>
        </div>
      </div>
      <div class="col-md-3 margin-small">
        <div class="product-list">
          <div class="product-item">
            <div class="image-holder">
              <img
                src="assets/images/notebook.png"
                alt="plant"
                class="uniform-size"
              />
              <i class="icon icon-like-button"></i>
            </div>
            <div class="product-inner">
              <a class="add-to-cart" href="cart" target="_self">
                <span class="cart-text">加入購物車</span>
                <i class="icon icon-arrow-right"></i>
              </a>
            </div>
          </div>
          <div class="product-content">
            <h3 class="product-title">
              <a href="single-product.html"
                >輕巧筆記本_讓每個靈感都能隨手記下</a
              >
            </h3>
            <div class="product-price">$ 23.00</div>
          </div>
        </div>
      </div>
      <div class="col-md-3 margin-small">
        <div class="product-list">
          <div class="product-item">
            <div class="image-holder">
              <img
                src="assets/images/blanket.png"
                alt="plant"
                class="uniform-size"
              />
              <i class="icon icon-like-button"></i>
            </div>
            <div class="product-inner">
              <a class="add-to-cart" href="cart" target="_self">
                <span class="cart-text">加入購物車</span>
                <i class="icon icon-arrow-right"></i>
              </a>
            </div>
          </div>
          <div class="product-content">
            <h3 class="product-title">
              <a href="single-product.html"
                >溫暖毛毯_讓每個懶洋洋的午後都更舒服</a
              >
            </h3>
            <div class="product-price">$ 23.00</div>
          </div>
        </div>
      </div>
      <div class="col-md-3 margin-small">
        <div class="product-list">
          <div class="product-item">
            <div class="image-holder">
              <img
                src="assets/images/earrings.png"
                alt="plant"
                class="uniform-size"
              />
              <i class="icon icon-like-button"></i>
            </div>
            <div class="product-inner">
              <a class="add-to-cart" href="cart" target="_self">
                <span class="cart-text">加入購物車</span>
                <i class="icon icon-arrow-right"></i>
              </a>
            </div>
          </div>
          <div class="product-content">
            <h3 class="product-title">
              <a href="single-product.html">時尚耳環_讓每個微笑都更閃亮</a>
            </h3>
            <div class="product-price">$ 23.00</div>
          </div>
        </div>
      </div>
      <div class="col-md-3 margin-small">
        <div class="product-list">
          <div class="product-item">
            <div class="image-holder">
              <img
                src="assets/images/choco.png"
                alt="plant"
                class="uniform-size"
              />
              <i class="icon icon-like-button"></i>
            </div>
            <div class="product-inner">
              <a class="add-to-cart" href="cart" target="_self">
                <span class="cart-text">加入購物車</span>
                <i class="icon icon-arrow-right"></i>
              </a>
            </div>
          </div>
          <div class="product-content">
            <h3 class="product-title">
              <a href="single-product.html">繽紛巧克力_每一口都是驚奇</a>
            </h3>
            <div class="product-price">$ 23.00</div>
          </div>
        </div>
      </div>
      <div class="col-md-3 margin-small">
        <div class="product-list">
          <div class="product-item">
            <div class="image-holder">
              <img
                src="assets/images/headphone.png"
                alt="plant"
                class="uniform-size"
              />
              <i
                class="icon icon-like-button"
                style="
                  box-sizing: border-box;
                  -webkit-box-sizing: border-box;
                  -moz-box-sizing: border-box;
                "
              ></i>
            </div>
            <div class="product-inner">
              <a class="add-to-cart" href="cart" target="_self">
                <span class="cart-text">加入購物車</span>
                <i class="icon icon-arrow-right"></i>
              </a>
            </div>
          </div>
          <div class="product-content">
            <h3 class="product-title">
              <a href="single-product.html"
                >質感耳機_戴上的那一刻世界彷彿靜止</a
              >
            </h3>
            <div class="product-price">$ 23.00</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
