<app-shopbanner1></app-shopbanner1>

<section class="product-gallery herb-items padding-large">
  <div class="container">
    <div class="row">


      <!-- 測試 -->

<!--
      <div class="col-md-3 margin-small" *ngFor="let product of products">
        <div class="product-list">
          <div class="product-item">
            <div class="image-holder">
              <img [src]="product.image" alt="plant" class="uniform-size" />
              <i class="icon icon-like-button"></i>
            </div>
            <div class="product-inner">
              <a class="add-to-cart" [href]="product.productdetailUrl" target="_self">
                <span class="cart-text">點我查看商品明細</span>
                <i class="icon icon-arrow-right"></i>
              </a>
            </div>
          </div>
          <div class="product-content">
            <h3 class="product-title">
              <a [href]="product.productdetailUrl">{{ product.title }}</a>
            </h3>
            <div class="product-price">{{ product.price }}</div>
          </div>
        </div>
      </div> -->


      <div class="col-md-3 margin-small" *ngFor="let product of products">
        <div class="product-list">
          <div class="product-item">
            <div class="image-holder">
              <img [src]="product.image" alt="圖片載入中" class="uniform-size" />
              <i class="icon icon-like-button"></i>
            </div>
            <div class="product-inner">
              <a class="add-to-cart" (click)="goToProductDetail(product.id)">
                <span class="cart-text">點我查看商品明細</span>
                <i class="icon icon-arrow-right"></i>
              </a>
            </div>
          </div>
          <div class="product-content">
            <h3 class="product-title">
              <a (click)="goToProductDetail(product.id)">{{ product.title }}</a>
            </h3>
            <div class="product-price" style="color: #ea0000">{{ product.price | currency:'TWD': 'symbol':'1.0-0'
              }}</div>
          </div>
        </div>
      </div>

      <!-- 測試 -->



    </div>
  </div>
</section>
